{% extends 'layout.html' %}

{% block title %}{{ tag }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list">
            <h1 class="heading"> Entries for {{ tag.title() }}</h1>
            {% for entry in entries %}
            <article>
                <h2><a href="{{ url_for('view_entry', slug=entry.title) }}">{{ entry.title }}</a></h2>
                <time datetime="{{ entry.date_created.strftime('%Y-%m%-%d') }}">{{ entry.date_created.strftime('%B, %d %Y') }}</time>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}